{% extends "LouvreTicketBundle::layout.html.twig" %}

{% block title %}An Error Occurred : {{ status_text }} {% endblock %}

{% block content %}

    <section class="container-fluid ">
        <article class="container bg-content">
            <h1>Oops! An Error Occurred</h1>
            <div class="col-xs-3">
                <iframe src="//giphy.com/embed/m9EQQDn3ujpio" frameBorder="0" class="giphy-embed img-responsive" allowFullScreen></iframe>
            </div>
            <div class="col-xs-9">
                
                <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

                <div>
                    <p>Something is broken. Please e-mail us at [email] and let us know
                        what you were doing when this error occurred. We will fix it as soon
                        as possible. <br> Sorry for any inconvenience caused.
                    </p>
                </div>
            </div>
        </article>
    </section>
{% endblock %}
