{% extends "../layout.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="container">
            
            <p>hello ! world</p>
            
        </div>
    </div>
{% endblock %}