<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block metaDescription %}{% endblock %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.0/css/all.css">
        <link rel="stylesheet" href="{{ asset('/misc/css/app.css') }}" type="text/css" /> 
        <!--<link rel="stylesheet" href="{{ asset('/misc/css/app.css') }}" type="text/css" />-->
        <title>{% block title %}{% endblock %} | Le Louvre </title>
        <!--favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/misc/images/logo/favicons/favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('/misc/images/logo/favicons/favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('/misc/images/logo/favicons/favicon-194x194.png') }}" sizes="194x194">
        <link rel="icon" type="image/png" href="{{ asset('/misc/images/logo/favicons/android-chrome-192x192.png') }}" sizes="192x192">
        <link rel="icon" type="image/png" href="{{ asset('/misc/images/logo/favicons/favicon-16x16.png') }}" sizes="16x16">
        <link rel="shortcut icon" href="{{ asset('/misc/images/logo/favicons/favicon.ico') }}">
        <meta name="msapplication-TileImage" content="{{ asset('/misc/images/logo/favicons/mstile-144x144.png') }}">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <!-- Moment.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/fr.js"></script>
    </head>
    <body class="main-background"> 
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('louvre_ticket_homepage') }}">Le louvre</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        <section>
            {% block content %}
            {% endblock %}
        </section>
        <!--Footer-->
        <footer class="container-fluid bg-content-footer">
            <div class="container">
                <div class="col-md-3 col-sm-6">
                    <h3>Pratique</h3>
                    <ul>
                        <li>Le Musée</li>
                        <li>En famille</li>
                        <li>Comment s'y rendre</li>
                        <li>La boutique</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3>Son histoire</h3>
                    <ul>
                        <li>Création</li>
                        <li>Oeuvres</li>
                        <li>Conférences</li>
                        <li>Evènements</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3>Accessibilité</h3>
                    <ul>
                        <li>Guides</li>
                        <li>Sourds et muets</li>
                        <li>Handicaps</li>
                        <li>Ecoles</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3>Billetterie</h3>
                    <ul>
                        <li>Moyens de paiement <br>
                            <i class="fab fa-cc-mastercard fa-2x"></i> <i class="fab fa-cc-amex fa-2x"></i> <i class="fab fa-cc-visa fa-2x"></i></li>
                        <li>
                            Sécurisé par Stripe   <i class="fab fa-cc-stripe fa-2x"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!--/Footer-->
        <!-- JavaScript Boostrap plugin -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
        <script src="{{ asset('/misc/js/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('/misc/js/datepicker-i18n/bootstrap-datepicker.fr.js') }}" type="text/javascript"></script>
        <script src="{{ asset('/misc/js/datepicker.js') }}" type="text/javascript"></script>  
    </body>
</html>
