 
/* 
    Created on : 8 déc. 2017, 14:05:43
    Author     : luc
*/

.bs-callout{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid $very-light-grey ;
    border:{
        left-width: 1px;
        left-color: rgb(238, 238, 238);
        left-width: 5px;
    }
}