/* 
    Created on : 19 oct. 2017, 15:19:56
    Author     : luc
*/

.bg-content-footer{
    margin-top: 24px;
    color:$white;
    border-top: solid 3px $gray ;
    background-color: $gray-dark;
    min-height: 350px
}
