
/* 
    Created on : 19 oct. 2017, 14:33:32
    Author     : luc
*/

body.main-background{
    background:url(/misc/images/joconde.jpg) no-repeat center fixed ;
}

.bg-content{
    padding-top: 24px;
    background-color: $body-bg;
    min-height: 500px;
}

#counted-visitor{
     font-weight: bold;
}
