{% extends "LouvreTicketBundle::layout.html.twig" %}
{% block title %}Bienvenue sur la réservation des tickets {% endblock %}
{% block metaDescription %}Réaliser ses achats{% endblock %}

{% block content %}

    <section class="container-fluid ">
        <article class="container bg-content">
            {% include "LouvreTicketBundle:Louvre/messages:flash_message.html.twig" %}
            <h1>Préparez votre visite</h1>
            <h3>Il n'est pas possible de réserver les jours fériés et le mardi.</h3>
            <div>
                <p id="error-count">Pour ce jour, il reste <span id="counted-visitor">{{ slotFree }}</span> places</p>
            </div>

            {{ form_start(formOrder) }}
            {{ form_errors(formOrder) }}

            {{ form_row(formOrder.datetimeVisit) }}
            {{ form_widget(formOrder.datetimeVisit) }}

            {{ form_row(formOrder.numberOfVisitors) }}
            {{ form_widget(formOrder.numberOfVisitors) }}
            <div id="afternoon" class="{{ afternoon }}">
                {{ form_row(formOrder.afternoon) }}
                {{ form_widget(formOrder.afternoon) }}
            </div>

            {{ form_row(formOrder.email) }}
            {{ form_widget(formOrder.email) }}

            <div class="col-sm-offset-2 col-sm-10 row">
                <p>
                    <button type="submit" class="btn btn-primary form-control" >Valider</button>
                </p>
            </div>     
            {{form_end(formOrder)}}
        </article>
    </section>
{% endblock %}