{% extends "LouvreTicketBundle::layout.html.twig" %}
{% block title %}Récapitulatif et paiement{% endblock %}
{% block metaDescription %}Paiement sur notre plateforme sécurisée{% endblock %}
{% block content %}
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <section class="container-fluid ">
        <article class="container bg-content">
            {% include "LouvreTicketBundle:Louvre/messages:flash_message.html.twig" %}
            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <caption><h1>Récapitulatif de votre commande</h1></caption>
                    <thead>
                        <tr>               
                            <th>Nom </th>
                            <th>Prénom</th>
                            <th>Bénéficie d'une réduction</th>
                            <th>Billet valable tout la journée</th>
                            <th>Prix du ticket</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in order.tickets.values %} 
                            <tr> 
                                <td>{{ ticket.firstname }}</td>
                                <td>{{ ticket.lastname }}</td>
                                {% if ticket.discount %}
                                    <td> <span class="glyphicon glyphicon-ok text-success"></span></td>
                                    {% else %}
                                    <td> <span class="glyphicon glyphicon-remove text-danger"></span></td>
                                    {% endif %}
                                    {% if order.afternoon %}
                                    <td> <span class="glyphicon glyphicon-remove text-danger"></span></td>
                                {% else %}
                                    <td> <span class="glyphicon glyphicon-ok text-success"></span></td>
                                    {% endif %}
                                <td>{{ ticket.price | number_format(2, ',', '.') }} €</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4"> <h3 class="text-success"> <b> TOTAL {{ order.totalPrice | number_format(2, ',', '.')  }} €</b></h3></td>
                        </tr>
                    </tfoot>
                </table> 
            </div>
            {{ form_start(formStripePayment) }}
            {{ form_end(formStripePayment) }}
            {% if order.totalPrice > 0 %}
                <p class="text-center" > 
                    <button id="customButton" class="btn btn-primary form-control"><i class="far fa-credit-card"></i> Payer par CB </button>
                </p>
            {% endif %}

            <script>

                var handler = StripeCheckout.configure({
                    key: '{{ publicKey }}',
                    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
                    locale: 'auto',
                    token: function (token) {
                        $("#stripe_payment_token").val(token.id);
                        $("#stripe").submit();
                    }
                });

                document.getElementById('customButton').addEventListener('click', function (e) {
                    // Open Checkout with further options:
                    handler.open({
                        name: 'Musée du Louvre',
                        description: '{{ order.tickets | length }} tickets',
                        email: '{{ order.email }}',
                        image: '{{ asset('misc/images/logo/favicons/favicon-194x194.png') }}',
                        currency: 'eur',
                        amount:{{ order.totalPrice | number_format(2, '', '.') }}
                    });
                    e.preventDefault();
                });

// Close Checkout on page navigation:
                window.addEventListener('popstate', function () {
                    handler.close();
                });
            </script>
        </article>
    </section>
{% endblock %}