{% extends "LouvreTicketBundle::layout.html.twig" %}
{% block title %}Status de votre paiement{% endblock %}
{% block metaDescription %}Résultat du paiement{% endblock %}
{% block content %}
    <section class="container-fluid ">
        <article class="container bg-content">
            {% include "LouvreTicketBundle:Louvre/messages:flash_message.html.twig" %}
            
            <h1>Organisez votre visite</h1>
            <h2>Comment se rendre au Louvre</h2>
                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.8739172815413!2d2.3354553157723434!3d48.860614608504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671d877937b0f%3A0xb975fcfa192f84d4!2sMus%C3%A9e+du+Louvre!5e0!3m2!1sfr!2sfr!4v1516375820144" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            <h2>Adresse</h2>
            <p>
                Le musée du Louvre <br>Rue de Rivoli,<br> 75001 Paris
            </p>
        </article>
    </section>
{% endblock%}