{% extends "LouvreTicketBundle::layout.html.twig" %}
{% block title %}Les informations d'achat {% endblock %}
{% block content %}
    <section class="container-fluid ">
        <article class="container bg-content">
            {% include "LouvreTicketBundle:Louvre/messages:flash_message.html.twig" %}
            <h1>Ajoutez vos tickets</h1>
            <div class="card border-warning ">
                <div class="card-body ">
                    <blockquote class="card-blockquote bs-callout">
                        <p class="card-text"> <i class="fas fa-exclamation"></i> <b>Merci de renseigner correctement la date de naissance, elle peux ouvrir droit à des remises.</b> </p>
                        <p class="card-text">Si la personne dispose du tarif réduit, elle doit simplement cocher la case « Tarif réduit ». <br> 
                            Il sera nécessaire de présenter sa carte d’étudiant, militaire ou équivalent lors de l’entrée pour prouver le droit au tarif réduit.</p>
                    </blockquote>
                </div>
            </div>
            {{ form_start(ticketForm) }}

            {{ form_widget(ticketForm) }}

            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <button class="btn btn-primary form-control" >Valider</button>
                </p>
            </div>
            {{ form_end(ticketForm) }}
        </article>
    </section>
{% endblock %}